/* Global Table Style */
table {
    width: 80%; 
    margin: 20px auto;
    border-collapse: collapse;
    background-color: #e5eaef;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    cursor: pointer; 
    color: rgb(5, 33, 104); 
    border: 5px solid #ccc; 
}

/* Table Header Style */
th {
    background-color: #233c56; 
    color: white; 
    padding: 10px; 
    text-align: left; 
}

/* Table Cell Style */
td {
    padding: 10px; 
    text-align: left; 
}

/* Table Row Hover Effect */
tbody tr:hover {
    background-color: #d1e7ff; /* Light blue on hover */
    transition: background-color 0.3s ease; /* Smooth transition for hover */
}
